@use "../../stylesheets/mixin";

.product-detail {
  width: 100%;
  gap: 2rem;
  margin-bottom: 1rem;
}

.product-detail__sale {
  display: flex;
  flex-direction: column;
  width: 100%;
  @include mixin.normalBreakPoint(medium) {
    flex-direction: row;
    justify-content: space-between;
  }
}
