@use "../../../../stylesheets/variables";
@use "../../../../stylesheets/mixin";

.navbar {
  position: relative;
  display: flex;
  width: 100%;
  height: 60px;
  padding: 0 1rem;
  line-height: 60px;
  gap: 10px;
  background-color: variables.$color-primary-bg;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  @include mixin.shadow;
  @include mixin.normalBreakPoint(medium) {
    padding: 0 4rem;
  }
  &__nav-list {
    display: none;
  }

  @include mixin.normalBreakPoint(large) {
    padding: 0 7rem;
    &__home-logo {
      margin-right: 1rem;
    }
    &__nav-list {
      display: flex;
    }
  }
}

.navbar__cart-icon {
  margin-left: auto;
  @include mixin.normalBreakPoint(large) {
    margin-left: unset;
  }
}

.navbar__hamburger {
  @include mixin.normalBreakPoint(large) {
    display: none;
  }
}
