@use "../../stylesheets/variables";
@use "../../stylesheets/mixin";

.home {
  display: flex;
  position: relative;
  flex-direction: column;
  padding-bottom: 3rem;
  gap: 7rem;
  background-color: variables.$color-primary-bg;
  text-align: center;

  &__session {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    gap: 1rem;
    &-title {
      font-size: 30px;
      font-weight: bold;
    }
  }
  @include mixin.normalBreakPoint(medium) {
    &__discount {
      padding: 0 4rem;
    }
    &__session {
      padding: 0 4rem;
    }
  }
  @include mixin.normalBreakPoint(large) {
    &__session {
      padding: 0 7rem;
    }
  }
}
