.toggle-switch {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  &__title {
  }
  &__input {
    display: none;
  }
  &__input:checked ~ &__toggle-wrapper &__toggle {
    transform: translateX(100%);
  }
  &__input:checked ~ &__toggle-wrapper {
    background: #42b983;
  }
  &__toggle-wrapper {
    display: flex;
    width: 70px;
    height: 40px;
    background: lightgray;
    padding: 5px;
    justify-content: flex-start;
    border-radius: 40px;
    cursor: pointer;
  }
  &__toggle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    transition: transform 0.3s ease;
  }
}
