@use "../../../../stylesheets/variables";
@use "../../../../stylesheets/mixin";

.product-modal {
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.product-modal__body-lower {
  display: flex;
  width: 100%;
  height: min-content;
  flex-direction: column;
  margin-top: 1rem;
  padding: 0 0 1rem 0;
  gap: 1rem;
  border-bottom: 1px variables.$line-secondary-line;
}
