@use "../../../../stylesheets/variables";

.set-discount {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  &__title {
    text-align: start;
    font-weight: bold;
  }
  &__area {
    display: flex;
    gap: 10px;
    &-input {
      width: calc(100% - 60px);
      height: 40px;
      padding: 10px;
      border: none;
    }
  }
  &__in-use {
    font-size: 12px;
    color: variables.$color-fourth-text;
  }
}
