@use "../../stylesheets/variables";
@use "../../stylesheets/animation";

.loading {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  z-index: 10000;
}

.loader {
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-radius: 50%;
  opacity: 70%;
  border-top-color: variables.$color-third-bg;
  animation: loading 0.75s ease infinite;
}
