@use "../../stylesheets/variables";
@use "../../stylesheets/mixin";

.admin-layout-main {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  &__header {
    width: 100%;
    height: 60px;
  }
  &__content {
    display: flex;
    width: 100vw;
    height: 100%;
    &-wrapper {
      display: flex;
      width: 100%;
      padding: 1rem 2rem;
      justify-content: center;
    }
  }
  &__nav-list {
    display: none;
  }
  &__footer {
    display: flex;
    justify-content: center;
  }
  @include mixin.normalBreakPoint(large) {
    &__content {
      &-wrapper {
        width: calc(100% - 150px);
      }
    }
    &__nav-list {
      display: flex;
    }
  }
}
