@use "../../../../stylesheets/variables";
@use "../../../../stylesheets/mixin";

.order-card {
  display: flex;
  width: 100%;
  padding: 1rem;
  gap: 10px;
  background-color: variables.$color-primary-bg;
  &__img {
    width: 100px;
    height: 100px;
    @include mixin.img-cover-center;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
